h1 {
  font-size: 3em;
  margin: 30px !important;
}

.text {
  /* color: white; */
  text-align: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

div {
  text-align: center;
}

div.wrap {
  margin-top: 100px;
  margin-bottom: 30px;
  width: 500px;
  position: relative;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  vertical-align: center;
  flex-flow: column;
  height: 100px;
}

#start-button {
  /* 水平・垂直方向の中央揃え */
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#estat-credit {
    /* 水平・垂直方向の中央揃え */
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
} 