h1 {
  font-size: 3em;
  margin: 30px !important;
}

.text {
  /* color: white; */
  text-align: center;
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

div {
  text-align: center;
}

div.wrap {
  margin-top: 100px;
  margin-bottom: 30px;
  width: 500px;
  position: relative;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  vertical-align: center;
  flex-flow: column;
  height: 100px;
}