  
  div.wrap .text-div {
    position: relative;
    margin: 50px 0;
  }
  
  label {
    position: absolute;
    top: 0;
    font-size: 20px;
    margin: 10px;
    margin-left: 0;
    padding: 0 10px;
    padding-left: 0;
    -webkit-transition: top .2s ease-in-out, 
                        font-size .2s ease-in-out;
    transition: top .2s ease-in-out, 
                font-size .2s ease-in-out;
    color: rgba(0,0,0, 0.3);
  }
  
  .active {
    top: -25px;
    font-size: 20px;
    color: rgba(0,0,0);
  }
  
  input[type=text] {
    width: 100%;
    padding: 20px;
    padding-left: 0;
    border: 0px;
    border-bottom: 1px solid rgba(0,0,0, 0.3);
    font-size: 20px;
  } 
  
  input[type=text]:focus {
    outline: none;
    border-bottom: 1px solid rgba(0,0,0);
  }


  @media screen and (max-width: 480px) {
    input[type=text] {
      width: 50%;
      padding: 20px;
      padding-left: 0;
      border: 0px;
      border-bottom: 1px solid rgba(0,0,0, 0.3);
      font-size: 20px;
    } 

  }